on:
  push:
    branches:
      - main
  pull_request:

name: Go-Paseto
permissions:
  contents: read
jobs:
  test:
    name: Units
    strategy:
      fail-fast: false
      matrix:
        go: [1.18.x, 1.19.x, 1.20.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - uses: actions/checkout@v3

      - name: Run tests
        run: go test -race -v

  vectors-not-stale:
    name: Check Test Vectors Up To Date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check for updates
        run: |
          cd test-vectors
          rm *
          wget https://raw.githubusercontent.com/paseto-standard/test-vectors/master/v{1..4}.json
          git diff --exit-code

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
